h1{
    font-size: 40px;
    text-align: center;
    color: #9147ff
}

body{
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    color: #C6C6C5;
    background-color: #1E1E1E;
}

a{
    font-size: 30px
}
